.flights {
  margin: 3rem 20% auto 20%;

  @media (max-width: 768px) {
    margin: 1rem 2% auto 2%;
  }

  &__title {
    font-size: 2.8rem;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__filters {
    display: flex;

    &> * {
      margin-right: 2rem;
    }
  }

  &__swap {
    margin: 0 0.3rem;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;

    & > * {
      flex: 0 1 auto;
    }
  }
}
