.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px;
  border: 1px solid #e5ebf0;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-out;

  &:hover {
    border: 1px solid #0a6078;
  }

  &__label {
    font-size: 14px;
  }

  &__icon {
    font-size: 12px;
    margin-left: 3px;
    &:hover {
      cursor: pointer;
    }
  }
}
