.quantifymenu {
  padding: 1rem;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.4rem;
  }

  &__title {
    margin-right: 0.4rem;
    font-size: 14px;
  }

  &__limit {
    margin-right: 1.5rem;
    font-size: 12px;
    color: #9ba8b0;
  }

  &__footer {
      font-size: 12px;
  }
}

::ng-deep .cdk-overlay-pane {
  & > .mat-menu-panel.quantifymenu {
    margin-top: -1.2rem;
    max-width: 324px;

    & > .mat-menu-content {
      padding: 1.5rem;
    }
  }
}
